.container {
    position: relative;
}
.container .container-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../aset/foto/logo.png);
    background-position: center;
  	background-repeat: no-repeat;
    opacity: 0.5;
}
.container .content {
    position: relative;
    z-index: 1;
}